{# templates/BackOffice/dashboard/modules/new.html.twig #}
{% extends 'BackOffice/base.html.twig' %}

{% block title %}Nouveau module{% endblock %}
{% block page_title %}Nouveau module{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('app_admin_modules_index') }}">Modules</a></li>
    <li class="breadcrumb-item active">Nouveau</li>
{% endblock %}

{% block body %}
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Créer un nouveau module</h3>
        </div>
        {{ form_start(form) }}
        <div class="card-body">
            {% if not is_admin_view|default(false) and selected_cours is defined and selected_cours %}
                <div class="alert alert-info">
                    Vous ajoutez un module au cours: <strong>{{ selected_cours.titre }}</strong>
                </div>
            {% endif %}
            <div class="form-group">
                {{ form_label(form.titre) }}
                {{ form_widget(form.titre) }}
                {{ form_errors(form.titre) }}
            </div>
            <div class="form-group">
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
                {{ form_errors(form.description) }}
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(form.cours) }}
                        {{ form_widget(form.cours) }}
                        {{ form_errors(form.cours) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-save mr-1"></i> Enregistrer
            </button>
            <a href="{{ path('app_admin_modules_index') }}" class="btn btn-secondary ml-2">
                <i class="fas fa-times mr-1"></i> Annuler
            </a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
