<div class="footer section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-sm-6 col-xs-12">
				<div class="single_footer">
					<a href="{{ path('app_home') }}"><img class="fo-brand-logo" src="{{ asset('FrontOffice/img/logo.png') }}" alt="Logo" decoding="async"></a>
					<p>immediately shared the results with a friend who couldn’t believe it was written by an AI. is worth every Yaley and then some. Describe my business along with my business name.</p>
				</div>
				<div class="foot_social">
					<ul>
						<li><a href="https://www.facebook.com/profile.php?id=61586889637036" class="top_f_facebook"><i class="fa-brands fa-facebook"></i></a></li>
						<li><a href="https://www.instagram.com/carrieri.tn/" class="top_f_instagram"><i class="fa-brands fa-instagram"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-2 col-sm-6 col-xs-12">
				<div class="single_footer">
					<h4>Courses</h4>
					<ul>
						<li><a href="#">Creative Writing</a></li>
						<li><a href="#">Digital Marketing</a></li>
						<li><a href="#">SEO Business</a></li>
						<li><a href="#">Social Marketing</a></li>
						<li><a href="#">Graphic Design</a></li>
						<li><a href="#">Website Development</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-2 col-sm-6 col-xs-12">
				<div class="single_footer">
					<h4>Company</h4>
					<ul>
						<li><a href="#">About us</a></li>
						<li><a href="#">Support team</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-xs-12">
				<div class="single_footer">
					<h4>Contact Info</h4>
					<div class="sf_contact">
						<span class="ti-mobile"></span>
						<h3>Phone number</h3>
						<p>+216 93039271</p>
					</div>
					<div class="sf_contact">
						<span class="ti-email"></span>
						<h3>Email Address</h3>
						<p>Carrieri@gmail.com</p>
					</div>
					<div class="sf_contact">
						<span class="ti-map"></span>
						<h3>Office Address</h3>
						<p>Tunisia,Lac1</p>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-sm-6 col-xs-12">
				<div class="single_footer">
					<h4>Download App</h4>
					<p>Download our app from app store and goole play store.</p>
					<a href="{{ path('app_home') }}"><img src="{{ asset('themes/purdue/assets/images/all-img/google-play.jpg') }}" class="foot_img" alt=""></a>
					<a href="{{ path('app_home') }}"><img src="{{ asset('themes/purdue/assets/images/all-img/app-store.jpg') }}" class="foot_img" alt=""></a>
				</div>
			</div>
		</div>
		<div class="row fc">
			<div class="col-lg-6 col-sm-6 col-xs-12">
				<div class="footer_copyright">
					<p>&copy; {{ "now"|date("Y") }}. All Rights Reserved by <a href="https://bestwpware.com/" class="text-dark" target="_blank" rel="noopener">Carrieri</a> • Distributed by <a href="https://themewagon.com" class="text-dark" target="_blank" rel="noopener">CarrieriTeam</a></p>
				</div>
			</div>
			<div class="col-lg-6 col-sm-6 col-xs-12">
				<div class="footer_menu">
					<ul>
						<li><a href="#">Terms of use</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Cookie Policy</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
