{# templates/FrontOffice/base.html.twig — Purdue theme shell #}
<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{% block meta_description %}Purdue - Education HTML Template{% endblock %}">
	<meta name="keywords" content="{% block meta_keywords %}education, e-learning, cours{% endblock %}">
	<meta name="author" content="{% block meta_author %}theme_ocean{% endblock %}">
	<title>{% block title %}Accueil{% endblock %} | {% block site_name %}Carrieri{% endblock %}</title>
	{% block meta_extra %}{% endblock %}
	<link rel="stylesheet" href="{{ asset('themes/purdue/assets/bootstrap/css/bootstrap.min.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ asset('themes/purdue/assets/webfonts/themify-icons.css') }}">
	<link rel="stylesheet" href="{{ asset('themes/purdue/assets/css/all.min.css') }}">
	<link rel="stylesheet" href="{{ asset('themes/purdue/assets/css/fontawesome.min.css') }}">
	<link rel="stylesheet" href="{{ asset('themes/purdue/assets/owlcarousel/css/owl.carousel.css') }}">
	<link rel="stylesheet" href="{{ asset('themes/purdue/assets/owlcarousel/css/owl.theme.css') }}">
	<link rel="stylesheet" href="{{ asset('themes/purdue/assets/css/magnific-popup.css') }}">
	<link rel="stylesheet" href="{{ asset('themes/purdue/assets/css/jquery-simple-mobilemenu.css') }}">
	<link rel="stylesheet" href="{{ asset('themes/purdue/assets/css/animate.css') }}">
	<link rel="stylesheet" href="{{ asset('themes/purdue/assets/css/style.css') }}">
	<link rel="stylesheet" href="{{ asset('FrontOffice/css/front-overrides.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	{% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
	<script src="{{ asset('themes/purdue/assets/js/jquery-1.12.4.min.js') }}"></script>
	<script src="{{ asset('themes/purdue/assets/bootstrap/js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('themes/purdue/assets/owlcarousel/js/owl.carousel.min.js') }}"></script>
	<script src="{{ asset('themes/purdue/assets/js/jquery-simple-mobilemenu.js') }}"></script>
	<script src="{{ asset('themes/purdue/assets/js/jquery.magnific-popup.min.js') }}"></script>
	<script src="{{ asset('themes/purdue/assets/js/jquery.mixitup.js') }}"></script>
	<script src="{{ asset('themes/purdue/assets/js/gsap.min.js') }}"></script>
	<script src="{{ asset('themes/purdue/assets/js/ScrollTrigger.min.js') }}"></script>
	<script src="{{ asset('themes/purdue/assets/js/lenis.js') }}"></script>
	<script src="{{ asset('themes/purdue/assets/js/scrolltopcontrol.js') }}"></script>
	<script src="{{ asset('themes/purdue/assets/js/jquery.inview.min.js') }}"></script>
	<script src="{{ asset('themes/purdue/assets/js/wow.min.js') }}"></script>
	<script src="{{ asset('themes/purdue/assets/js/scripts.js') }}"></script>
	{% block javascripts %}{% endblock %}
</body>
</html>
