{% extends 'FrontOffice/main/base_candidate.html.twig' %}

{% block title %}Modifier ma réclamation{% endblock %}

{% block candidate_page_heading %}Modifier ma réclamation{% endblock %}

{% block candidate_breadcrumb %} / Réclamations / Modifier{% endblock %}

{% block candidate_content %}
    <div class="card shadow-sm">
        <div class="card-header bg-warning text-white">
            <h5 class="mb-0"><i class="fas fa-edit"></i> Modifier ma réclamation #{{ reclamation.id }}</h5>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-12">
                        {{ form_row(form.objet) }}
                    </div>
                    <div class="col-12">
                        {{ form_row(form.description) }}
                    </div>
                    <div class="col-12">
                        {{ form_row(form.cours) }}
                    </div>
                </div>
                <div class="mt-4">
                    <button type="submit" class="btn btn-warning">
                        <i class="fas fa-save"></i> Enregistrer les modifications
                    </button>
                    <a href="{{ path('app_candidat_reclamation_index') }}" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> Retour
                    </a>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}